.section-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  align-self: center;
  text-align: center;

  color: var(--text-primary);

  margin-bottom: 12px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
    align-self: start;
    text-align: start;
  }
}